
$xsmall: 460px;
$small: 840px;
$large: 1280px;


$imagesBrightness: 80%;

$primaryColor: #90AFC5;
$secondaryColor: #336b87;
$thirdColor: #2A3132; 
$fourthColor: #763626;

$primaryColor2: #61892F;
$secondaryColor2: #86C232;
$thirdColor2: #222629;
$fourthColor2: #474B4F;
$fifthColor2: #6B6E70;

$primaryColor3: #FAED26;
$secondaryColor3: #46344E;
$thirdColor3: #5A5560; 
$fourthColor3: #9D8D8F;
$fifthColor3: #9B786F;
// consider this color #333 as a background;
