@import '_variables';

.header-container {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    flex-flow: row;
    padding: 10px 10px 0;
    background: $secondaryColor3;


    .header__logo {
        flex-grow: 1;
        text-align: center;

        img {
            width: 150px;

            @media screen and (max-width: $small) {
                width: 90px;
            }
        }
    }

    ul {
        padding: 0;
        flex-grow: 1;
        li {
            display: flex;
            align-items: center;
        }
    }
}