@import '_variables';

.navbar-container {
    color: white;
    list-style-type: none;
    font-size: 30px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    li {
        padding: 15px;
        a {
            text-decoration: unset;
            button {
                font-weight: 500;
            }
        }

    }
    .selected-route button {
        background: $secondaryColor2;
    }
}