@import '_variables';

.prices {
    background-image: url('../images/prices-background.jpg');
    display: flex;
    padding: 0 0 50px;
    justify-content: center;
    flex-direction: column;
    background-position-y: 100%;
    background-size: cover;
    color: white;

    .prices__container {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 25px;

        .container__section-title {
            font-size: 5vmin;
            margin-top: 10px;
        }

        .container__prices-options {
            justify-content: center;
            flex-direction: row;
            display: flex;
            justify-content: space-evenly;

            .prices-options__single-option {

                margin-top: 10px;
                margin-bottom: 5px;
                border: 1px solid black;
                display: flex;
                flex-direction: column;
                width: 20%;
                background: $thirdColor3;
                transition: all .2s;

                &:hover {
                    transform: scale(1.15);
                }
                &:after {
                    clip-path: polygon(67% 0, 80% 0, 100% 18%, 100% 29%);
                    content: '';
                }
                
                header {
                    padding: 7px;
                    background: $secondaryColor3;
                    font-size: 4vmin;
                    font-weight: 500;
                }
                .body {
                    opacity: 0.85;
                    display: flex;
                    flex-direction: column;
                    padding: 10px 10px 20px;

                    .single-option__session {
                        font-size: 3.5vmin;
                        letter-spacing: 1px;
                        margin-bottom: 7px;

                        span {
                            font-size: calc(3.5vmin / 1.65)
                        }
                    }
    
                    .single-option__session-month {
                        font-size: 2vmin;
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}