.posts__post {
    position: relative;
    margin: 14px;

    .post__likes-and-comments {
        pointer-events: none;
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
        z-index: 1;
        
        span {
            display: block;

            svg {
                position: relative;
                top: 7px;
                margin-right: 4px;
            }
        }
    }

    &:hover {
        .post__likes-and-comments {
            display: flex;
            flex-direction: row;

            span {
                padding: 3px;
            }
        }

        .post__image {
            filter: brightness(75%);
            cursor: pointer;
        }
    }

    .post__image {
        max-width: 293px;
        min-width: 120px;
        max-height: 293px;
    }


    .details__pop-up {
        top: 0;
        left: 0;
        font-size: 14px;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 2;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center; 
        color: #262626;

        .pop-up__background {
            opacity: 0.2;
            background-color: black;
            height: 100%;
            width: 100%;
            bottom: 0;
            left: 0;
            position: fixed;
            z-index: 3;
        }

        .pop-up__content {
            z-index: 4;
            max-height: 600px;
            max-width: 935px;
            font-size: 14px;
            position: fixed;
            margin: 20px;
            background: white;
            display: flex;

            .pop-up__media-wrapper {
                max-width: 600px;
                position: relative;
                
                img {
                    width: 100%;
                    height: 100%;
                }

                figure {
                    margin: 0;
                    width: 600px;
    
                    video {
                        cursor: pointer;
                        width: 100%;
                        height: 100%;
                    }
    
                    .media-wrapper__play-icon {
                        cursor: pointer;
                        position: absolute;
                        width: 84px;
                        height: 84px;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            .pop-up__side-bar {
                display: flex;
                flex-direction: column;
                max-width: 335px;

                margin-right: 0;
                padding: 20px 24px;

                .pop-up__header {
                    font-weight: 500;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #efefef;
                    display: flex;
                    flex-direction: row;

                    img {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                    }

                    .header__wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 10px;

                        .header__location {
                            font-weight: normal;
                            font-size: 12px;
                            margin-top: 2px;
                        }
    
                        .header__follow {
                            color: #3897f0;
                            cursor: pointer;
                        }
                    }
                }
    
                .pop-up__body {  
                    .body__comments {
                        padding: 20px 0;
                        border-bottom: 1px solid #efefef;
                        max-height: 348px;
                        overflow-y: auto;
    
                        ul {
                            list-style-type: none;
                            margin: 0;
                            padding: 0;
    
                            li {
                                padding-bottom: 6px;
                                word-wrap: break-word;
    
                                .single-comment__user {
                                    font-weight: 500;
                                    cursor: pointer;
                                }
                            }
                        }
    
                        a {
                            color: #003569;
                        }
                    }

                    .body__details {
                        display: flex;
                        flex-direction: column;
                        border-bottom: 1px solid #efefef;
                        padding-bottom: 3px;

                        .details__icons {
                            position: relative;

                            svg {
                                width: 33px;
                                height: 33px;
                                margin-right: 4px;

                                &:nth-child(2) {
                                    position: relative;
                                    top: 2px;
                                }
                            }
                        }

                        .details__upload-date {
                            color: #999;
                            font-size: 10px;
                            margin: 3px 0 5px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }

    .icon__camera {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 10%;
        height: 10%;
        pointer-events: none;

        path {
            fill: white;
        }
    }
}